/* define some utility classes based on pico.css */

.heading {
  text-align: center;
  margin-top: var(--typography-spacing-vertical);
}

.label {
  // copied from label
  display: block;
  margin-bottom: calc(var(--spacing) * 0.25);
  font-weight: var(--form-label-font-weight, var(--font-weight));
}

.flex-r {
  display: flex;
  justify-content: right;
  > *:not(:last-child) {
    margin-right: var(--spacing);
  }
}
.flex-c {
  display: flex;
  justify-content: center;
  > * {
    margin: auto calc(var(--spacing) * 0.5);
  }
}
button {
  width: auto;
  display: inline-block;
}

// /* override slider css */
// /* https://simeydotme.github.io/svelte-range-slider-pips/#styling */
.rangeSlider {
  --range-handle-focus: #888;
  // primay blue: OKHSL 229 94 57
  --range-handle-inactive: var(--range-handle-focus);
  --range-handle: var(--range-handle-focus);

  > .rangeHandle {
    > .rangeFloat {
      // label of slider
      opacity: 1;
      // always visible
      transform: translate(-50%, 150%) !important;
      // put label below slider
    }
    > .rangeNub {
      transform: scale(0.7) rotate(45deg) !important;
      border-radius: 0 !important;
      // rotated square
    }
  }
}
.rangeNub .targetNub {
  color: var(--primary) !important;
}
// #range-slider {
//   > .rangeHandle {
//     > .rangeNub {
//     }
//   }
// }
