/* define some utility classes based on pico.css */

.heading {
  text-align: center;
  margin-top: var(--typography-spacing-vertical);
}

.label {
  // copied from label
  display: block;
  margin-bottom: calc(var(--spacing) * 0.25);
  font-weight: var(--form-label-font-weight, var(--font-weight));
}

.flex-r {
  display: flex;
  justify-content: right;
  > *:not(:last-child) {
    margin-right: var(--spacing);
  }
}
.flex-c {
  display: flex;
  justify-content: center;
  > * {
    margin: auto calc(var(--spacing) * 0.5);
  }
}
button {
  width: auto;
  display: inline-block;
}
